.main {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card-container {
  position: relative;
  transform: translateY(20px);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  height: 80vh;
  box-sizing: border-box;
  border-radius: 8.4vmin;
  border-width: 0.8vmin;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 2.5vmin;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    2.6vmin 2.6vmin 0 0 #000;
}

.image-container {
  position: relative;
  width: 60vmin;
  height: 60vmin;
  margin-right: 2.5vmin;
}

.image-container::before {
  content: "";
  position: absolute;
  inset: -1vmin;
  background-color: rgb(0, 0, 0);
  clip-path: url(#wavyClip);
}

.image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border: none;
  clip-path: url(#wavyClip);
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 2.5vmin;
  align-items: flex-start;
}

.title {
  background-color: rgb(255, 255, 255);
  border-radius: 3.7vmin;
  padding: 1.1vmin 5.2vmin;
  border: 0.5vmin solid rgb(0, 0, 0);
  font-size: 6vmin;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  position: absolute;
  top: -4.5vmin;
  left: 10vmin;
  margin: 0;
  white-space: nowrap;
}

.username-text {
  font-size: 9vmin;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.summary-text {
  margin-top: 1.3vmin;
  font-size: 7vmin;
  font-weight: 550;
  color: rgb(0, 0, 0);
}
