.main {
  position: relative;

  display: flex;

  min-height: 100vh;

  align-items: center;

  justify-content: center;
}

.card-container {
  transform: translateY(20px);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.375rem;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    10px 10px 0 0 #000;
}

.image-container {
  position: relative;
  width: 9rem;
  height: 9rem;
  margin-right: 1.25rem;
}

.image-container::before {
  content: "";
  position: absolute;
  inset: -6px;
  background-color: rgb(0, 0, 0);
  clip-path: url(#wavyClip);
}

.image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border: none;
  clip-path: url(#wavyClip);
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: flex-start;
}

.attendance {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
}

.username-text {
  font-size: 1.875rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.summary-text {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
